<!DOCTYPE html>
<html lang="en">
{{>head}}

<body>
  <h2>{{username}}, thank you for the registration</h2>
  <p>Please verify your email by this link:</p>
  <a href="{{link}}">{{link}}</a>
</body>

</html>